.slide_wrap:hover .logo_slide {
  animation-play-state: paused;
}
.slide_wrap:hover .logo_slide_reverse {
  animation-play-state: paused;
}

.logo_slide {
  animation: slide 20s linear infinite;
}
.logo_slide_reverse {
  animation: slide_reverse 20s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide_reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
